backend/event-service/node_modules
backend/media-service/node_modules
backend/registration-service/node_modules
backend/user-auth-service/node_modules
backend/event-service/.env
backend/media-service/.env
backend/registration-service/.env
backend/user-auth-service/.env